<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.SHRPRConnectionString"
            connectionString="Data Source=.;Initial Catalog=SHRPR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.SHRPRConnectionString1"
            connectionString="Data Source=DESKTOP-B3J8LOS\DIENSQLSERVER;Initial Catalog=SHRPR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.SHRPRConnectionString2"
            connectionString="Data Source=DESKTOP-1ESMFEB\SQLEXPRESS;Initial Catalog=SHRPR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.SHRPRConnectionString3"
            connectionString="Data Source=(local);Initial Catalog=SHRPR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.SHRPRConnectionString4"
            connectionString="Data Source=KEN-PC;Initial Catalog=SHRPR;User ID=sa;Password=sapassword"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.SHRPRConnectionString5"
            connectionString="Data Source=DESKTOP-JTAM29D\SQLEXPRESS;Initial Catalog=SHRPR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.SHRPRConnectionString6"
            connectionString="Data Source=(local);Initial Catalog=SHRPR1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.SHRPRConnectionString7"
            connectionString="Data Source=DESKTOP-DCFH0CO\SQLEXPRESS;Initial Catalog=SHRPR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.SHRPRConnectionString8"
            connectionString="Data Source=(local);Initial Catalog=SHRPR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>