<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.SHRPRConnectionString"
            connectionString="Data Source=.;Initial Catalog=SHRPR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.SHRPRConnectionString1"
            connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=SHRPR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.SHRPRConnectionString2"
            connectionString="Data Source=DESKTOP-1ESMFEB\SQLEXPRESS;Initial Catalog=SHRPR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.SHRPRConnectionString3"
            connectionString="Data Source=(local);Initial Catalog=SHRPR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>