USE [master]
GO
/****** Object:  Database [SHRPR]    Script Date: 2016/10/24 5:12:43 CH ******/
CREATE DATABASE [SHRPR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SHRPR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SHRPR.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SHRPR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SHRPR_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SHRPR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SHRPR]
GO
/****** Object:  Table [dbo].[Tbl_CongNoKH]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_CongNoKH](
	[soPhieu] [varchar](20) NOT NULL,
	[ngayLap] [date] NOT NULL,
	[maKH] [varchar](20) NOT NULL,
	[maNV] [varchar](20) NOT NULL,
 CONSTRAINT [PK_CongnoKH] PRIMARY KEY CLUSTERED 
(
	[soPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_CongNoNCC]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_CongNoNCC](
	[soPhieu] [varchar](15) NOT NULL,
	[maNCC] [varchar](15) NOT NULL,
	[ngayLap] [date] NOT NULL,
	[maNV] [varchar](15) NOT NULL,
 CONSTRAINT [PK_CongNoNCC] PRIMARY KEY CLUSTERED 
(
	[soPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_CTCongNoKH]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_CTCongNoKH](
	[maKH] [varchar](20) NOT NULL,
	[soPhieu] [varchar](20) NOT NULL,
	[sotien] [money] NOT NULL,
	[ghiChu] [nvarchar](250) NULL,
 CONSTRAINT [PK_CTCongnoKH] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC,
	[soPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_CTCongNoNCC]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_CTCongNoNCC](
	[soPhieu] [varchar](15) NOT NULL,
	[maHD] [varchar](20) NOT NULL,
	[sotien] [money] NOT NULL,
	[ghiChu] [nvarchar](150) NULL,
 CONSTRAINT [PK_CTCongnoNCC] PRIMARY KEY CLUSTERED 
(
	[soPhieu] ASC,
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_CTKyLuatNV]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_CTKyLuatNV](
	[maNV] [varchar](20) NOT NULL,
	[maKyLuat] [varchar](15) NOT NULL,
	[hinhThucKL] [nvarchar](150) NOT NULL,
	[ngayLap] [date] NOT NULL,
	[ngayThiHanh] [date] NOT NULL,
	[ngayKetThuc] [date] NOT NULL,
	[mucDoKL] [nvarchar](50) NOT NULL,
	[lyDo] [nvarchar](50) NOT NULL,
	[ghiChu] [nvarchar](150) NULL,
 CONSTRAINT [PK_CTKyluatNV] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC,
	[maKyLuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_CTKhuyenMai]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_CTKhuyenMai](
	[msDotKM] [varchar](15) NOT NULL,
	[maSP] [varchar](20) NOT NULL,
	[phantramKM] [float] NOT NULL,
	[ghiChu] [nvarchar](250) NULL,
 CONSTRAINT [PK_CTKhuyenMai_1] PRIMARY KEY CLUSTERED 
(
	[msDotKM] ASC,
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_CTMuaHangNCC]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_CTMuaHangNCC](
	[maSP] [bigint] NOT NULL,
	[maHD] [varchar](20) NOT NULL,
	[soluong] [float] NOT NULL,
	[dongiaMua] [money] NOT NULL,
	[ghichu] [nvarchar](250) NULL,
 CONSTRAINT [PK_CTMuahangNCC] PRIMARY KEY CLUSTERED 
(
	[maSP] ASC,
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_CTPhieuDNNK]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_CTPhieuDNNK](
	[soPDNNK] [varchar](20) NOT NULL,
	[maSP] [varchar](20) NOT NULL,
	[soluong] [float] NOT NULL,
	[ghiChu] [nchar](10) NULL,
 CONSTRAINT [PK_CTPhieuDeNNK] PRIMARY KEY CLUSTERED 
(
	[soPDNNK] ASC,
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_CTPhieuDNXK]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_CTPhieuDNXK](
	[soPDNXK] [varchar](20) NOT NULL,
	[maSP] [varchar](20) NOT NULL,
	[soluong] [int] NOT NULL,
	[Ghichu] [nvarchar](350) NULL,
 CONSTRAINT [PK_CTPhieuDeNghiXuatKho] PRIMARY KEY CLUSTERED 
(
	[soPDNXK] ASC,
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_CTPhieuQLKho]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_CTPhieuQLKho](
	[maPhieuql] [varchar](20) NOT NULL,
	[sTT] [nvarchar](50) NULL,
	[tenSP] [nvarchar](50) NULL,
	[sLuongql] [nvarchar](50) NULL,
	[maSP] [varchar](20) NOT NULL,
	[donVi] [nvarchar](50) NULL,
 CONSTRAINT [PK_Chitietphieuquanlykho_1] PRIMARY KEY CLUSTERED 
(
	[maPhieuql] ASC,
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_CTThamGiaDTNV]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_CTThamGiaDTNV](
	[maNV] [varchar](20) NOT NULL,
	[maKhoaDT] [nvarchar](15) NOT NULL,
	[ketQua] [nvarchar](50) NOT NULL,
	[nhanXet] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_CTThamgiaDTNV] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC,
	[maKhoaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_CTHDBanLe]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_CTHDBanLe](
	[soHoaDon] [varchar](20) NOT NULL,
	[maSP] [varchar](20) NOT NULL,
	[soLuong] [float] NOT NULL,
	[donGia] [money] NOT NULL,
	[ghiChu] [nvarchar](250) NULL,
 CONSTRAINT [PK_ChiTietHDBL] PRIMARY KEY CLUSTERED 
(
	[soHoaDon] ASC,
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_CTHDBanSi]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_CTHDBanSi](
	[maHD] [varchar](20) NOT NULL,
	[maSP] [varchar](20) NOT NULL,
	[soluong] [float] NOT NULL,
	[dongiaBan] [money] NOT NULL,
	[ghiChu] [nvarchar](250) NULL,
 CONSTRAINT [PK_CTHDBansi] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC,
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_ChucVu]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_ChucVu](
	[maChucVu] [varchar](15) NOT NULL,
	[heSo] [money] NOT NULL,
	[tenCV] [nvarchar](150) NOT NULL,
	[ghiChu] [nvarchar](15) NULL,
 CONSTRAINT [PK_Chucvu] PRIMARY KEY CLUSTERED 
(
	[maChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_DaoTaoNV]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_DaoTaoNV](
	[maKhoaDT] [nvarchar](15) NOT NULL,
	[tenKhoaDT] [nvarchar](150) NOT NULL,
	[ngayBD] [date] NOT NULL,
	[ngayKT] [date] NOT NULL,
	[diaDiem] [nvarchar](150) NOT NULL,
	[hinhthucDT] [nvarchar](20) NOT NULL,
	[chiPhi] [money] NULL,
 CONSTRAINT [PK_DaotaoNV] PRIMARY KEY CLUSTERED 
(
	[maKhoaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tbl_HD_GTGT]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_HD_GTGT](
	[soHoaDon] [varchar](20) NOT NULL,
	[dvBanHang] [nvarchar](50) NOT NULL,
	[dvMuaHang] [nvarchar](50) NOT NULL,
	[msThue] [int] NOT NULL,
	[diaChi] [nvarchar](50) NOT NULL,
	[hinhthucThanhToan] [nvarchar](50) NOT NULL,
	[soTaiKhoan] [nvarchar](50) NULL,
	[ngaylapHoaDon] [datetime] NOT NULL,
	[thanhTien] [money] NOT NULL,
 CONSTRAINT [PK_HDGTGT] PRIMARY KEY CLUSTERED 
(
	[soHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_HDBanLe]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_HDBanLe](
	[soHoaDon] [varchar](20) NOT NULL,
	[ngayBan] [datetime] NOT NULL,
	[maNV] [varchar](20) NOT NULL,
	[maKH] [varchar](20) NOT NULL,
	[tongTien] [money] NOT NULL,
	[ghiChu] [nvarchar](250) NULL,
 CONSTRAINT [PK_HoaDonBanLe] PRIMARY KEY CLUSTERED 
(
	[soHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_HDBanSi]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_HDBanSi](
	[maHD] [varchar](20) NOT NULL,
	[ngayLap] [date] NOT NULL,
	[maKH] [varchar](20) NOT NULL,
	[maNV] [varchar](20) NOT NULL,
	[ghiChu] [nvarchar](250) NULL,
 CONSTRAINT [PK_PhieuHDBanHangChoKH] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_HDMuaHangNCC]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_HDMuaHangNCC](
	[maHD] [varchar](20) NOT NULL,
	[tenHD] [nvarchar](50) NOT NULL,
	[ngayLap] [datetime] NOT NULL,
	[maNCC] [varchar](15) NOT NULL,
	[noiDung] [nvarchar](max) NOT NULL,
	[maNV] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PhieuHDMuaHangNCC] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_HinhAnhSP]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_HinhAnhSP](
	[maSP] [varchar](20) NOT NULL,
	[maHA] [bigint] NOT NULL,
	[duongdan] [varchar](250) NOT NULL,
	[ghiChu] [nvarchar](250) NULL,
 CONSTRAINT [PK_HinhanhSP] PRIMARY KEY CLUSTERED 
(
	[maSP] ASC,
	[maHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_KyLuatNV]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_KyLuatNV](
	[maKyLuat] [varchar](15) NOT NULL,
	[hinhThucKL] [nvarchar](150) NOT NULL,
	[ghiChu] [nvarchar](250) NULL,
 CONSTRAINT [PK_KyluatNV] PRIMARY KEY CLUSTERED 
(
	[maKyLuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_KhachHang]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_KhachHang](
	[maKH] [varchar](20) NOT NULL,
	[tenKH] [nvarchar](50) NULL,
	[diachi] [nvarchar](50) NULL,
	[soCMND] [varchar](15) NULL,
	[ngaycapCMND] [date] NULL,
	[gioitinh] [nvarchar](15) NULL,
	[ngaysinh] [date] NULL,
	[sodienthoai] [varchar](15) NULL,
	[email] [nvarchar](50) NULL,
	[nghenghiep] [nvarchar](50) NULL,
	[trangthai] [int] NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Kho]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Kho](
	[msKho] [varchar](20) NOT NULL,
	[tenKho] [nvarchar](150) NOT NULL,
	[diachiKho] [nvarchar](250) NOT NULL,
	[soDT] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Kho] PRIMARY KEY CLUSTERED 
(
	[msKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_KhuyenMai]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_KhuyenMai](
	[msDotKM] [varchar](15) NOT NULL,
	[tenDotKM] [nvarchar](250) NOT NULL,
	[ngayBD] [date] NOT NULL,
	[ngayKT] [date] NOT NULL,
	[ghiChu] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[msDotKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_LichSuLamViec]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_LichSuLamViec](
	[maNV] [varchar](20) NOT NULL,
	[maPB] [varchar](20) NOT NULL,
	[maChucVu] [varchar](15) NOT NULL,
	[ngayBD] [date] NOT NULL,
	[ngayKT] [date] NULL,
 CONSTRAINT [PK_LichsuLamviec] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC,
	[maPB] ASC,
	[ngayBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_ModuleTinhGia]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_ModuleTinhGia](
	[maSP] [varchar](20) NOT NULL,
	[giaBan] [float] NOT NULL,
	[ngayLapGia] [date] NOT NULL,
	[ngayHetHieuLuc] [date] NOT NULL,
	[ghiChu] [nvarchar](250) NULL,
 CONSTRAINT [PK_ModuleTinhGia] PRIMARY KEY CLUSTERED 
(
	[maSP] ASC,
	[ngayLapGia] ASC,
	[ngayHetHieuLuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_NhaCungCap]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_NhaCungCap](
	[maNCC] [varchar](15) NOT NULL,
	[tenNCC] [nvarchar](50) NOT NULL,
	[diaChi] [nvarchar](50) NOT NULL,
	[sDT] [nvarchar](11) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_NCC] PRIMARY KEY CLUSTERED 
(
	[maNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_NhanVien]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_NhanVien](
	[maNV] [varchar](20) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[ngaySinh] [date] NOT NULL,
	[ngayVaoLam] [date] NOT NULL,
	[soCMND] [varchar](15) NOT NULL,
	[ngayCapCMND] [date] NOT NULL,
	[gioiTinh] [varchar](10) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[soDT] [nvarchar](15) NOT NULL,
	[diaChi] [nvarchar](250) NOT NULL,
	[trangThai] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_PhieuDNNK]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_PhieuDNNK](
	[soPDNNK] [varchar](20) NOT NULL,
	[maNV] [varchar](20) NOT NULL,
	[ngayLapphieu] [date] NOT NULL,
	[maKho] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PhieuDeNghiXuatKho] PRIMARY KEY CLUSTERED 
(
	[soPDNNK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_PhieuDNXK]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_PhieuDNXK](
	[soPDNNK] [varchar](20) NOT NULL,
	[maNV] [varchar](20) NOT NULL,
	[ngayLap] [date] NOT NULL,
	[maKho] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PhieuDeXuatNhapKho] PRIMARY KEY CLUSTERED 
(
	[soPDNNK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_PhieuNK]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_PhieuNK](
	[maPhieuNhap] [varchar](20) NOT NULL,
	[ngayLapNhap] [datetime] NOT NULL,
	[maNV] [varchar](20) NOT NULL,
	[msKho] [varchar](20) NOT NULL,
	[tinhTrang] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Phieunhapkho] PRIMARY KEY CLUSTERED 
(
	[maPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_PhieuQLKho]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_PhieuQLKho](
	[maPhieuQL] [varchar](20) NOT NULL,
	[ngayLapQL] [datetime] NULL,
	[maNV] [varchar](20) NULL,
	[msKho] [varchar](20) NOT NULL,
	[tinhTrang] [nvarchar](50) NULL,
 CONSTRAINT [PK_Phieuquanlykho] PRIMARY KEY CLUSTERED 
(
	[maPhieuQL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_PhieuXK]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_PhieuXK](
	[maPhieuXuat] [varchar](20) NOT NULL,
	[ngayLapXuat] [datetime] NULL,
	[maNV] [varchar](20) NOT NULL,
	[tinhTrang] [nvarchar](15) NULL,
 CONSTRAINT [PK_Phieuxuatkho] PRIMARY KEY CLUSTERED 
(
	[maPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_PhongBan]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_PhongBan](
	[maPB] [varchar](20) NOT NULL,
	[tenPB] [nvarchar](100) NOT NULL,
	[diaDiem] [nvarchar](100) NOT NULL,
	[soDT] [varchar](15) NULL,
 CONSTRAINT [PK_PhongBan] PRIMARY KEY CLUSTERED 
(
	[maPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_SanPham]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_SanPham](
	[maSP] [varchar](20) NOT NULL,
	[tenSP] [nvarchar](150) NOT NULL,
	[moTa] [ntext] NULL,
	[ngaySX] [date] NULL,
	[hanSD] [date] NULL,
	[tenNhaPP] [nvarchar](150) NULL,
	[tenNhaSX] [nvarchar](150) NULL,
	[trangThai] [int] NOT NULL,
 CONSTRAINT [PK_Sanpham] PRIMARY KEY CLUSTERED 
(
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_TheThanhVien]    Script Date: 2016/10/24 5:12:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_TheThanhVien](
	[maKH] [varchar](20) NOT NULL,
	[maThe] [varchar](15) NOT NULL,
	[diemTichLuy] [int] NOT NULL,
	[tongTien] [money] NOT NULL,
	[ngayLap] [date] NOT NULL,
	[ngayHetHan] [date] NOT NULL,
	[ghiChu] [nvarchar](250) NULL,
 CONSTRAINT [PK_TheThanhVien] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_Chitietphieuquanlykho_Phieuquanlykho
]    Script Date: 2016/10/24 5:12:43 CH ******/
CREATE NONCLUSTERED INDEX [IXFK_Chitietphieuquanlykho_Phieuquanlykho
] ON [dbo].[Tbl_CTPhieuQLKho]
(
	[maPhieuql] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_Chitietphieuquanlykho_Sanpham]    Script Date: 2016/10/24 5:12:43 CH ******/
CREATE NONCLUSTERED INDEX [IXFK_Chitietphieuquanlykho_Sanpham] ON [dbo].[Tbl_CTPhieuQLKho]
(
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_ChiTietHDBL_HoaDonBanLe]    Script Date: 2016/10/24 5:12:43 CH ******/
CREATE NONCLUSTERED INDEX [IXFK_ChiTietHDBL_HoaDonBanLe] ON [dbo].[Tbl_CTHDBanLe]
(
	[soHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_HoaDonBanLe_KhachHang]    Script Date: 2016/10/24 5:12:43 CH ******/
CREATE NONCLUSTERED INDEX [IXFK_HoaDonBanLe_KhachHang] ON [dbo].[Tbl_HDBanLe]
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_HoaDonBanLe_NVBanHang]    Script Date: 2016/10/24 5:12:43 CH ******/
CREATE NONCLUSTERED INDEX [IXFK_HoaDonBanLe_NVBanHang] ON [dbo].[Tbl_HDBanLe]
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_KhachHang_PhongQLKH]    Script Date: 2016/10/24 5:12:43 CH ******/
CREATE NONCLUSTERED INDEX [IXFK_KhachHang_PhongQLKH] ON [dbo].[Tbl_KhachHang]
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_Phieunhapkho_ThuKho]    Script Date: 2016/10/24 5:12:43 CH ******/
CREATE NONCLUSTERED INDEX [IXFK_Phieunhapkho_ThuKho] ON [dbo].[Tbl_PhieuNK]
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_CongNoKH]  WITH CHECK ADD  CONSTRAINT [FK_CongnoKH_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[Tbl_KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[Tbl_CongNoKH] CHECK CONSTRAINT [FK_CongnoKH_KhachHang]
GO
ALTER TABLE [dbo].[Tbl_CongNoKH]  WITH CHECK ADD  CONSTRAINT [FK_CongnoKH_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[Tbl_NhanVien] ([maNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Tbl_CongNoKH] CHECK CONSTRAINT [FK_CongnoKH_NhanVien]
GO
ALTER TABLE [dbo].[Tbl_CTCongNoKH]  WITH CHECK ADD  CONSTRAINT [FK_CTCongnoKH_CongnoKH] FOREIGN KEY([soPhieu])
REFERENCES [dbo].[Tbl_CongNoKH] ([soPhieu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_CTCongNoKH] CHECK CONSTRAINT [FK_CTCongnoKH_CongnoKH]
GO
ALTER TABLE [dbo].[Tbl_CTCongNoKH]  WITH CHECK ADD  CONSTRAINT [FK_CTCongnoKH_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[Tbl_KhachHang] ([maKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Tbl_CTCongNoKH] CHECK CONSTRAINT [FK_CTCongnoKH_KhachHang]
GO
ALTER TABLE [dbo].[Tbl_CTCongNoNCC]  WITH CHECK ADD  CONSTRAINT [FK_CTCongnoNCC_CongNoNCC] FOREIGN KEY([soPhieu])
REFERENCES [dbo].[Tbl_CongNoNCC] ([soPhieu])
GO
ALTER TABLE [dbo].[Tbl_CTCongNoNCC] CHECK CONSTRAINT [FK_CTCongnoNCC_CongNoNCC]
GO
ALTER TABLE [dbo].[Tbl_CTCongNoNCC]  WITH CHECK ADD  CONSTRAINT [FK_CTCongnoNCC_HDMuaHangNCC] FOREIGN KEY([maHD])
REFERENCES [dbo].[Tbl_HDMuaHangNCC] ([maHD])
GO
ALTER TABLE [dbo].[Tbl_CTCongNoNCC] CHECK CONSTRAINT [FK_CTCongnoNCC_HDMuaHangNCC]
GO
ALTER TABLE [dbo].[Tbl_CTKyLuatNV]  WITH CHECK ADD  CONSTRAINT [FK_CTKyluatNV_KyluatNV] FOREIGN KEY([maKyLuat])
REFERENCES [dbo].[Tbl_KyLuatNV] ([maKyLuat])
GO
ALTER TABLE [dbo].[Tbl_CTKyLuatNV] CHECK CONSTRAINT [FK_CTKyluatNV_KyluatNV]
GO
ALTER TABLE [dbo].[Tbl_CTKyLuatNV]  WITH CHECK ADD  CONSTRAINT [FK_CTKyluatNV_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[Tbl_NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[Tbl_CTKyLuatNV] CHECK CONSTRAINT [FK_CTKyluatNV_NhanVien]
GO
ALTER TABLE [dbo].[Tbl_CTKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_CTKhuyenMai_KhuyenMai] FOREIGN KEY([msDotKM])
REFERENCES [dbo].[Tbl_KhuyenMai] ([msDotKM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_CTKhuyenMai] CHECK CONSTRAINT [FK_CTKhuyenMai_KhuyenMai]
GO
ALTER TABLE [dbo].[Tbl_CTKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_CTKhuyenMai_Sanpham] FOREIGN KEY([maSP])
REFERENCES [dbo].[Tbl_SanPham] ([maSP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Tbl_CTKhuyenMai] CHECK CONSTRAINT [FK_CTKhuyenMai_Sanpham]
GO
ALTER TABLE [dbo].[Tbl_CTMuaHangNCC]  WITH CHECK ADD  CONSTRAINT [FK_CTMuahangNCC_PhieuHopDongMuaHangNhaCungCap] FOREIGN KEY([maHD])
REFERENCES [dbo].[Tbl_HDMuaHangNCC] ([maHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_CTMuaHangNCC] CHECK CONSTRAINT [FK_CTMuahangNCC_PhieuHopDongMuaHangNhaCungCap]
GO
ALTER TABLE [dbo].[Tbl_CTPhieuDNNK]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuDeNNK_PhieuDNNK] FOREIGN KEY([soPDNNK])
REFERENCES [dbo].[Tbl_PhieuDNNK] ([soPDNNK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_CTPhieuDNNK] CHECK CONSTRAINT [FK_CTPhieuDeNNK_PhieuDNNK]
GO
ALTER TABLE [dbo].[Tbl_CTPhieuDNNK]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuDeNNK_Sanpham] FOREIGN KEY([maSP])
REFERENCES [dbo].[Tbl_SanPham] ([maSP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Tbl_CTPhieuDNNK] CHECK CONSTRAINT [FK_CTPhieuDeNNK_Sanpham]
GO
ALTER TABLE [dbo].[Tbl_CTPhieuDNXK]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuDNXK_PhieuDNXK] FOREIGN KEY([soPDNXK])
REFERENCES [dbo].[Tbl_PhieuDNXK] ([soPDNNK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_CTPhieuDNXK] CHECK CONSTRAINT [FK_CTPhieuDNXK_PhieuDNXK]
GO
ALTER TABLE [dbo].[Tbl_CTPhieuDNXK]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuDNXK_Sanpham] FOREIGN KEY([maSP])
REFERENCES [dbo].[Tbl_SanPham] ([maSP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Tbl_CTPhieuDNXK] CHECK CONSTRAINT [FK_CTPhieuDNXK_Sanpham]
GO
ALTER TABLE [dbo].[Tbl_CTPhieuQLKho]  WITH CHECK ADD  CONSTRAINT [FK_Chitietphieuquanlykho_Phieuquanlykho] FOREIGN KEY([maPhieuql])
REFERENCES [dbo].[Tbl_PhieuQLKho] ([maPhieuQL])
GO
ALTER TABLE [dbo].[Tbl_CTPhieuQLKho] CHECK CONSTRAINT [FK_Chitietphieuquanlykho_Phieuquanlykho]
GO
ALTER TABLE [dbo].[Tbl_CTPhieuQLKho]  WITH CHECK ADD  CONSTRAINT [FK_Chitietphieuquanlykho_Sanpham] FOREIGN KEY([maSP])
REFERENCES [dbo].[Tbl_SanPham] ([maSP])
GO
ALTER TABLE [dbo].[Tbl_CTPhieuQLKho] CHECK CONSTRAINT [FK_Chitietphieuquanlykho_Sanpham]
GO
ALTER TABLE [dbo].[Tbl_CTThamGiaDTNV]  WITH CHECK ADD  CONSTRAINT [FK_CTThamgiaDTNV_DaotaoNV] FOREIGN KEY([maKhoaDT])
REFERENCES [dbo].[Tbl_DaoTaoNV] ([maKhoaDT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Tbl_CTThamGiaDTNV] CHECK CONSTRAINT [FK_CTThamgiaDTNV_DaotaoNV]
GO
ALTER TABLE [dbo].[Tbl_CTThamGiaDTNV]  WITH CHECK ADD  CONSTRAINT [FK_CTThamgiaDTNV_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[Tbl_NhanVien] ([maNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Tbl_CTThamGiaDTNV] CHECK CONSTRAINT [FK_CTThamgiaDTNV_NhanVien]
GO
ALTER TABLE [dbo].[Tbl_CTHDBanLe]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDBL_HoaDonBanLe] FOREIGN KEY([soHoaDon])
REFERENCES [dbo].[Tbl_HDBanLe] ([soHoaDon])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_CTHDBanLe] CHECK CONSTRAINT [FK_ChiTietHDBL_HoaDonBanLe]
GO
ALTER TABLE [dbo].[Tbl_CTHDBanLe]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDBL_Sanpham] FOREIGN KEY([maSP])
REFERENCES [dbo].[Tbl_SanPham] ([maSP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Tbl_CTHDBanLe] CHECK CONSTRAINT [FK_ChiTietHDBL_Sanpham]
GO
ALTER TABLE [dbo].[Tbl_CTHDBanSi]  WITH CHECK ADD  CONSTRAINT [FK_CTHDBansi_HDBanSi] FOREIGN KEY([maHD])
REFERENCES [dbo].[Tbl_HDBanSi] ([maHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_CTHDBanSi] CHECK CONSTRAINT [FK_CTHDBansi_HDBanSi]
GO
ALTER TABLE [dbo].[Tbl_CTHDBanSi]  WITH CHECK ADD  CONSTRAINT [FK_CTHDBansi_Sanpham] FOREIGN KEY([maSP])
REFERENCES [dbo].[Tbl_SanPham] ([maSP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Tbl_CTHDBanSi] CHECK CONSTRAINT [FK_CTHDBansi_Sanpham]
GO
ALTER TABLE [dbo].[Tbl_HDBanLe]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBanLe_HoaDonGTGT] FOREIGN KEY([soHoaDon])
REFERENCES [dbo].[Tbl_HD_GTGT] ([soHoaDon])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_HDBanLe] CHECK CONSTRAINT [FK_HoaDonBanLe_HoaDonGTGT]
GO
ALTER TABLE [dbo].[Tbl_HDBanLe]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBanLe_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[Tbl_KhachHang] ([maKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Tbl_HDBanLe] CHECK CONSTRAINT [FK_HoaDonBanLe_KhachHang]
GO
ALTER TABLE [dbo].[Tbl_HDBanLe]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBanLe_NhanVien1] FOREIGN KEY([maNV])
REFERENCES [dbo].[Tbl_NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[Tbl_HDBanLe] CHECK CONSTRAINT [FK_HoaDonBanLe_NhanVien1]
GO
ALTER TABLE [dbo].[Tbl_HDBanSi]  WITH CHECK ADD  CONSTRAINT [FK_HDBanSi_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[Tbl_KhachHang] ([maKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Tbl_HDBanSi] CHECK CONSTRAINT [FK_HDBanSi_KhachHang]
GO
ALTER TABLE [dbo].[Tbl_HDBanSi]  WITH CHECK ADD  CONSTRAINT [FK_HDBanSi_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[Tbl_NhanVien] ([maNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Tbl_HDBanSi] CHECK CONSTRAINT [FK_HDBanSi_NhanVien]
GO
ALTER TABLE [dbo].[Tbl_HDMuaHangNCC]  WITH CHECK ADD  CONSTRAINT [FK_HDMuaHangNCC_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[Tbl_NhanVien] ([maNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Tbl_HDMuaHangNCC] CHECK CONSTRAINT [FK_HDMuaHangNCC_NhanVien]
GO
ALTER TABLE [dbo].[Tbl_HDMuaHangNCC]  WITH CHECK ADD  CONSTRAINT [FK_PhieuHDMuaHangNCC_NCC] FOREIGN KEY([maNCC])
REFERENCES [dbo].[Tbl_NhaCungCap] ([maNCC])
GO
ALTER TABLE [dbo].[Tbl_HDMuaHangNCC] CHECK CONSTRAINT [FK_PhieuHDMuaHangNCC_NCC]
GO
ALTER TABLE [dbo].[Tbl_HinhAnhSP]  WITH CHECK ADD  CONSTRAINT [FK_HinhanhSP_Sanpham] FOREIGN KEY([maSP])
REFERENCES [dbo].[Tbl_SanPham] ([maSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_HinhAnhSP] CHECK CONSTRAINT [FK_HinhanhSP_Sanpham]
GO
ALTER TABLE [dbo].[Tbl_Kho]  WITH CHECK ADD  CONSTRAINT [FK_Kho_PhongBan] FOREIGN KEY([msKho])
REFERENCES [dbo].[Tbl_PhongBan] ([maPB])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Tbl_Kho] CHECK CONSTRAINT [FK_Kho_PhongBan]
GO
ALTER TABLE [dbo].[Tbl_LichSuLamViec]  WITH CHECK ADD  CONSTRAINT [FK_LichsuLamviec_Chucvu] FOREIGN KEY([maChucVu])
REFERENCES [dbo].[Tbl_ChucVu] ([maChucVu])
GO
ALTER TABLE [dbo].[Tbl_LichSuLamViec] CHECK CONSTRAINT [FK_LichsuLamviec_Chucvu]
GO
ALTER TABLE [dbo].[Tbl_LichSuLamViec]  WITH CHECK ADD  CONSTRAINT [FK_LichsuLamviec_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[Tbl_NhanVien] ([maNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_LichSuLamViec] CHECK CONSTRAINT [FK_LichsuLamviec_NhanVien]
GO
ALTER TABLE [dbo].[Tbl_LichSuLamViec]  WITH CHECK ADD  CONSTRAINT [FK_LichsuLamviec_PhongBan] FOREIGN KEY([maPB])
REFERENCES [dbo].[Tbl_PhongBan] ([maPB])
GO
ALTER TABLE [dbo].[Tbl_LichSuLamViec] CHECK CONSTRAINT [FK_LichsuLamviec_PhongBan]
GO
ALTER TABLE [dbo].[Tbl_ModuleTinhGia]  WITH CHECK ADD  CONSTRAINT [FK_ModuleTinhGia_Sanpham] FOREIGN KEY([maSP])
REFERENCES [dbo].[Tbl_SanPham] ([maSP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Tbl_ModuleTinhGia] CHECK CONSTRAINT [FK_ModuleTinhGia_Sanpham]
GO
ALTER TABLE [dbo].[Tbl_PhieuDNNK]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDNNK_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[Tbl_NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[Tbl_PhieuDNNK] CHECK CONSTRAINT [FK_PhieuDNNK_NhanVien]
GO
ALTER TABLE [dbo].[Tbl_PhieuDNXK]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDNXK_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[Tbl_NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[Tbl_PhieuDNXK] CHECK CONSTRAINT [FK_PhieuDNXK_NhanVien]
GO
ALTER TABLE [dbo].[Tbl_PhieuDNXK]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDNXK_NhanVien1] FOREIGN KEY([maNV])
REFERENCES [dbo].[Tbl_NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[Tbl_PhieuDNXK] CHECK CONSTRAINT [FK_PhieuDNXK_NhanVien1]
GO
ALTER TABLE [dbo].[Tbl_PhieuNK]  WITH CHECK ADD  CONSTRAINT [FK_Phieunhapkho_Kho] FOREIGN KEY([msKho])
REFERENCES [dbo].[Tbl_Kho] ([msKho])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Tbl_PhieuNK] CHECK CONSTRAINT [FK_Phieunhapkho_Kho]
GO
ALTER TABLE [dbo].[Tbl_PhieuNK]  WITH CHECK ADD  CONSTRAINT [FK_Phieunhapkho_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[Tbl_NhanVien] ([maNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Tbl_PhieuNK] CHECK CONSTRAINT [FK_Phieunhapkho_NhanVien]
GO
ALTER TABLE [dbo].[Tbl_PhieuNK]  WITH CHECK ADD  CONSTRAINT [FK_Phieunhapkho_PhieuDNNK] FOREIGN KEY([maPhieuNhap])
REFERENCES [dbo].[Tbl_PhieuDNNK] ([soPDNNK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_PhieuNK] CHECK CONSTRAINT [FK_Phieunhapkho_PhieuDNNK]
GO
ALTER TABLE [dbo].[Tbl_PhieuQLKho]  WITH CHECK ADD  CONSTRAINT [FK_Phieuquanlykho_Kho] FOREIGN KEY([msKho])
REFERENCES [dbo].[Tbl_Kho] ([msKho])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Tbl_PhieuQLKho] CHECK CONSTRAINT [FK_Phieuquanlykho_Kho]
GO
ALTER TABLE [dbo].[Tbl_PhieuQLKho]  WITH CHECK ADD  CONSTRAINT [FK_Phieuquanlykho_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[Tbl_NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[Tbl_PhieuQLKho] CHECK CONSTRAINT [FK_Phieuquanlykho_NhanVien]
GO
ALTER TABLE [dbo].[Tbl_PhieuXK]  WITH CHECK ADD  CONSTRAINT [FK_Phieuxuatkho_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[Tbl_NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[Tbl_PhieuXK] CHECK CONSTRAINT [FK_Phieuxuatkho_NhanVien]
GO
ALTER TABLE [dbo].[Tbl_PhieuXK]  WITH CHECK ADD  CONSTRAINT [FK_Phieuxuatkho_NhanVien1] FOREIGN KEY([maNV])
REFERENCES [dbo].[Tbl_NhanVien] ([maNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Tbl_PhieuXK] CHECK CONSTRAINT [FK_Phieuxuatkho_NhanVien1]
GO
ALTER TABLE [dbo].[Tbl_PhieuXK]  WITH CHECK ADD  CONSTRAINT [FK_Phieuxuatkho_PhieuDNXK] FOREIGN KEY([maPhieuXuat])
REFERENCES [dbo].[Tbl_PhieuDNXK] ([soPDNNK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_PhieuXK] CHECK CONSTRAINT [FK_Phieuxuatkho_PhieuDNXK]
GO
ALTER TABLE [dbo].[Tbl_TheThanhVien]  WITH CHECK ADD  CONSTRAINT [FK_TheThanhVien_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[Tbl_KhachHang] ([maKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_TheThanhVien] CHECK CONSTRAINT [FK_TheThanhVien_KhachHang]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hóa ðõn giá tr? gia tãng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Tbl_HD_GTGT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'danh sach hinh thuc ky luat cua cong ty' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Tbl_KyLuatNV', @level2type=N'COLUMN',@level2name=N'hinhThucKL'
GO
USE [master]
GO
